<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home</title>
  {% if request.user.is_authenticated %}
    <p><a href="{% url 'home' %}"> Home</a> | <a href="{% url 'logout' %}"> Logout</a> </p>
    <p>Hello, {{request.user.username}} </p>

  {% else %}
  <p>
    <a href="{% url 'home' %}"> Home</a> |
    <a href="{% url 'register' %}">Register</a> |
    <a href="{% url 'login' %}">Login</a> </p>

  {% endif %}
  <hr>
</head>

<body>
  {% block content %}
  {% endblock content %}
</body>

<footer>
  <hr>
  <h4>Clean todo list website | beta version</h4>
</footer>

</html>
